.weeks {
    margin-left: -10px;
    padding: 0;
    & a {
        display: inline-block;
        margin-left: 10px;
        width: ~"calc(12.5% - 10px)";
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 20px;
        margin-top: 10px;
        &:not(.fresh) {
            color: rgb(150,150,150);
        }
        &.this-week {
            font-weight: bold;
        }
    }
}

.calendar {
    margin-bottom: 20px;
    & .year:not(:last-child) {
        margin-bottom: 30px;
    }
    & .well h2 {
        margin-top: 0;
    }
    .year h2 {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        & + button {
            margin-left: 10px;
            font-size: 12px;
            padding: 2px 10px;
            background: rgb(225,225,225);
        }
    }
}

.header-weeks a:last-child {
    margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .weeks a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .weeks a {
        width: ~"calc(25% - 10px)";
        font-size: 13px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 350px) {
    .weeks a {
        width: ~"calc(50% - 10px)";
        font-size: 14px;
    }
}