.day {
    border: 1px solid rgb(200,200,200);
    &.clickable {
        cursor: pointer;
    }
    &:not(:last-child) {
        border-bottom: none;
    }
    & > * {
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
        min-height: 60px;
    }
    & .day-title {
        padding: 20px;
        width: 120px;
        font-weight: bold;
    }
    & .players {
        width: ~"calc(100% - 120px)";
        border-left: 1px solid rgb(200,200,200);
        & .player-container {
            display: inline-block;
            text-align: center;
            max-width: 100px;
            position: relative;
            &.maybe img {
                opacity: 0.5;
            }
            &.maybe:after {
                content: "maybe";
                background: rgba(255,0,0,0.5);
                opacity: 1;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                font-size: 11px;
                color: white;
                line-height: 13px;
                padding-bottom: 2px;
            }
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
        & img {
            max-height: 100%;
        }
    }
}

#week {
    & h3 {
        margin: 0 0 10px 0;
        font-size: 15px;
    }
    & form {
        margin-top: 30px;
    }
    & label[for=google-doc] button {
        font-size: 12px;
        padding: 2px 5px;
        margin-left: 10px;
        vertical-align: bottom;
    }
    & input#google-doc {
        width: ~"calc(100% - 60px)";
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: inline-block;
        border-right: none;
        vertical-align: middle;
        & + a.btn {
            border: 1px solid #ccc;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 60px;
            display: inline-block;
            vertical-align: middle;
            background: rgb(240,240,240);
        }
    }

}


